.navbar {
  height: 25px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(25, 147, 218, 0.925);
  padding-bottom: 5px;
  padding-top: 5px;
}

.navbar > div {
  display: flex;
  justify-content: space-between;
  width: 60%;
}