.navbar {
  height: 25px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(25, 147, 218, 0.925);
  padding-bottom: 5px;
  padding-top: 5px;
}

.navbar > div {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

@media screen and (min-width: 425px) {
  .navbar {
    height: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    width: 20%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar > div {
    flex-direction: column;
    margin-top: 125px;
    width: 80%;
    height: 32%;
  }
}