.App {
  width: 100vw;
  min-width: 320px;
  font-size: .66em;
  background-color: white;
}

header {
  font-size: 1.25em;
}

ul {
  padding-left: 30px;
}

.shrink {
  font-size: .65em;
}

.fx {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcse {
  justify-content: space-evenly
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.jcfe {
  justify-content: flex-end;
}

.aife {
  align-items: flex-end;
}

.w80 {
  width: 80%;
}

.center {
  margin: 0 auto;
}

@media screen and (min-width: 425px) {
  .App {
    font-size: .80em;
  }

  .shrink {
    font-size: .75em;
  }

  header {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  .App {
    background-color: black;
  }
}

@media screen and (min-width: 1024px) {
  .App {
    display: flex;
  }
}