.App {
  width: 100vw;
  min-width: 320px
}

ul {
  padding-left: 30px;
}

.shrink {
  font-size: .65em;
}

.fx {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcse {
  justify-content: space-evenly
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.jcfe {
  justify-content: flex-end;
}

.aife {
  align-items: flex-end;
}

.w80, .w80c {
  width: 80%;
}

.w80c {
  margin: 0 auto;
}