/* Mobile first */

/* everything displayed should be for mobile apps first < 320px */

.avatar {
  height: 56px;
  width: 56px;
  border-radius: 360px;
  border: 1px solid black;
  background-image: url('../../assets/avatar/avatar-sm.jpeg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

@media screen and (min-width: 425px) {
  .avatar {
    background-image: url('../../assets/avatar/avatar-md.jpg');
    height: 75px;
    width: 75px;
  }
}