/* Mobile first */

/* everything displayed should be for mobile apps first < 320px */

.avatar {
  height: 56px;
  width: 56px;
  border-radius: 360px;
  border: 2px solid black;
  background-image: url('../../assets/avatar/avatar-sm.jpeg');
  background-position: center;
}